#cpanel {  text-align: center;  vertical-align: middle; padding-left: 40px; }

#cpanel div.icon   { margin: 20px; }
#cpanel div.icon a { 
	display: block; float: left;
	height: 118px !important;
	height: 120px; 
	width: 118px !important;
	width: 120px; 
	vertical-align: middle; 
	text-decoration : none;
	border: 1px solid #DDD;
	padding: 2px 5px 1px 5px;
}

#cpanel div.icon a:link    {  color : #000033;  }
#cpanel div.icon a:hover   { 
	color : #333; 
	background-color: #B3FF66;
	border: 1px solid #003300;
	padding: 3px 4px 0px 6px; 
}

#cpanel div.icon a:active  {  color : #000033;  }
#cpanel div.icon a:visited {  color : #000033;  }

#cpanel div.icon img { margin-top: 13px; }
#cpanel div.icon span { display: block; padding-top: 3px;}

