/* 
    Document   : style
    Created on : Jul 31, 2009, 11:57:59 PM
    Author     : Dennis Cohn Muroy
    Description:
        Purpose of the stylesheet follows.
*/


/* All */

html, body {
    margin-left:auto;
    margin-right:auto;
    min-width: 800px;
    max-width:1024px;
    width: 90%;
    height: 100%;
    font-family:sans-serif;
    font-size: 14px;
    color: black;
}

#message {
}

#content {
    min-height: 200px;
    padding-top:20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Banner */
#banner {
    text-align: center;
    height: 120px;
    border-style:solid;
    border-width:thin;
    border-color:#003300;
    padding-top: 10px;
}

/* Nav */
#nav {
    display:inline-block;
    width: 100%;
}

#nav li {
    float: left;
    list-style: none;
    text-align: center;
    width: 20%;
}

/* Footer */
#footer {
    height: 30px;
    position: relative;
    background-color:#66FF66;
    border-style:dotted;
    border-width: thin;
    border-color: black;
}

/* Forms */

form {
    width: 100%;
}

div.header {
    margin-left:auto;
    margin-right:auto;
    width: 430px;
    text-align: center;
    height: 30px;
}

div.row {
    margin-left:auto;
    margin-right:auto;
    width: 430px;
}

span.label {
    font-weight: bold;
    float: left;
    width: 120px;
    text-align: right;
    height:30px;
}

span.field {
    float: right;
    width: 300px;
    text-align: left;
    height:30px;
}

label:after {
    text-transform: uppercase;
    content: " [" attr(accesskey) "] : ";
}
