BODY {
  font-family: Arial;
  font-size: small;
}

LABEL {
  font-weight: bold;
  white-space:nowrap;
  margin-left: 5px;
  float: left;
  color: #ffffff;
}

table#content {
  height: 200px;
  width: 500px;
  border: 1px solid #003300; 
  margin-top: 100px; 
  height: 200px; 
}

table#content td {
  border: 1px solid #003300; 
}

.line {
  width: 300px;
  height: 30px;
}

span {
  float: right;
}

.textField {
  background-color : #e6ffcc;
  border-width : 1px;
  border-color : #003300;
}

.button {
  background-color : #e6ffcc;
  border-color : #003300;
  border-width : 1px;
  color : #003300;
  width : 100px;
}

div#text {
  text-align:center;
  font-weight: bold;
}

.error {
  color: red;
  text-align: center;
  font-weight: bolder;
}


.info {
  color: blue;
  text-align: center;
  font-weight: bolder;
}

/**[accesskey]:after {
  content:' [' attr(accesskey) ']'
}*/
