/* 
    Document   : style
    Created on : Jul 31, 2009, 11:57:59 PM
    Author     : Dennis Cohn Muroy
    Description:
        Purpose of the stylesheet follows.
*/


/* All */

html, body {
    margin-left:auto;
    margin-right:auto;
    width:1024px;
    font-family:sans-serif;
    font-size: 14px;
    color: black;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

/* Banner */
#banner_out {
    text-align: center;
    height: 120px;
    padding-top: 10px;
}

#banner_in {
    height: 120px;
    padding-top: 10px;
    width:100%;
}

#banner_in li {
    float: left;
    list-style: none;
    padding-top: 6px;
    margin-right: 3px;
    width: 115px;
    height:25px;
    display:inline;
}

.banner_image {
    float:left;
}

#banner_in ul {
    float:right;
    padding-top:8px;
    display: inline-block;
}

ul.actions li {
    text-align: right;
    color: white;
}

ul.sections li {
    background-color: #E6FFCC;
    text-align: center;
}

/* Footer */
#footer {
    height: 20px;
    padding: 5px;
    background-color:#66FF66;
    color:#003300;
    text-align:center;
}

#message div {
    padding: 5px;
    border-width: thin;
    border-style: solid;
    font-weight: bold;
    text-align: center;
}

#message div.error{
    background-color: #FF9966;
    border-color: red;
    color: red;
}

#message div.information{
    background-color: #99CCFF;
    border-color: navy;
    color: navy;
}

#message div.warning{
    background-color: #FFFF99;
    border-color: #996600;
    color: #996600;
}

#content {
    min-height: 220px;
    max-height: 400px;
    padding-top:20px;
    padding-right:5px;
    padding-left:5px;
    background-color: #E6FFCC;
}

/* Forms */

.left {
    text-align:left;
}

.right {
    text-align:right;
}

.justify {
    text-align:justify;
}

.center {
    text-align:center;
}

.loginform {
    width: 400px;
    float:right;
    border:solid #003300 thin;
    padding: 5px;
}

.loginintro {
    width:580px;
    float:left;
    border:double #FF6600 thin;
    padding: 5px;
    background-color: #FFFF99;
}

div.row {
    margin-left:auto;
    margin-right:auto;
    float: left;
    width: 400px;
    height:30px;
}

span.label {
    margin-top: 4px;
    font-weight: bold;
    float: left;
    width: 120px;
    text-align: right;
    height:30px;
}

span.field {
    float: right;
    width: 270px;
    text-align: left;
    height:30px;
}

label:after {
    text-transform: uppercase;
    content: " [" attr(accesskey) "] : ";
}

input, textarea, select {
    
}

input[type=text].login, input[type=password].login {
    width: 260px;
}

input[type=submit], input[type=reset] {
    margin-left:5px;
    margin-right:5px;
}