/* 
    Document   : style
    Created on : Jul 31, 2009, 11:57:59 PM
    Author     : Dennis Cohn Muroy
    Description:
        Purpose of the stylesheet follows.
*/


/* All */

html, body {
    margin-left:auto;
    margin-right:auto;
    width:1024px;
    height: 100%;
    font-family:sans-serif;
    font-size: 14px;
    color: black;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Banner */
#banner {
    text-align: center;
    height: 120px;
    border-style:solid;
    border-width:thin;
    border-color:#003300;
    padding-top: 10px;
}

/* Nav */
#nav {
    display:inline-block;
    width: 100%;
}

#nav li {
    float: left;
    list-style: none;
    text-align: center;
    width: 20%;
}

/* Footer */
#footer {
    height: 20px;
    padding: 5px;
    background-color:#66FF66;
    border-style:dotted;
    border-width: thin;
    border-color: black;
    text-align:center;
}

#message {
}

#content {
    min-height: 170px;
    padding-top:20px;
    padding-right:5px;
    padding-left:5px;
}

/* Forms */

.left {
    text-align:left;
}

.right {
    text-align:right;
}

.justify {
    text-align:justify;
}

.center {
    text-align:center;
}

.loginform {
    width: 400px;
    float:right;
    border:solid #003300 thin;
    padding: 5px;
}

.loginintro {
    width:580px;
    float:left;
    border:double #FF6600 thin;
    padding: 5px;
    background-color: #FFFF99;
}

div.row {
    margin-left:auto;
    margin-right:auto;
    float: left;
    width: 400px;
    height:30px;
}

span.label {
    font-weight: bold;
    float: left;
    width: 120px;
    text-align: right;
    height:30px;
}

span.field {
    float: right;
    width: 270px;
    text-align: left;
    height:30px;
}

label:after {
    text-transform: uppercase;
    content: " [" attr(accesskey) "] : ";
}

input, textarea, select {
    
}

input[type=text].login, input[type=password].login {
    width: 260px;
}

input[type=submit], input[type=reset] {
    margin-left:5px;
    margin-right:5px;
}